In [1]:
import pandas as pd 
import sys
import os
from format_normal_traffic import DataFrameFormatterNormalTraffic
from format_suricata_df import DataFrameFormatterSuricata


# Get parent of current working directory
parent_dir = os.path.dirname(os.getcwd())
if parent_dir not in sys.path:
    sys.path.insert(0, parent_dir)

from df_initializing.handler_init_dfs import DataFrameInitializer
from handler_df_formatter import DataFrameFormatter

In [2]:
pd.set_option('display.max_rows', None)        # Show all rows
pd.set_option('display.max_columns', None)     # Show all columns
pd.set_option('display.width', None)           # No line wrapping
pd.set_option('display.max_colwidth', None)    # Show full cell content

df_initializer = DataFrameInitializer(
    suricata_json_path='../../data/suricata/log/suricata.json',
    normal_traffic_json_path="../../data/normal_traffic/benign_traffic_fixed.json"
)

df_suricata, df_normal_traffic = df_initializer.initialize_dfs(sample_size=1000)

df_formatter = DataFrameFormatter(df_suricata, df_normal_traffic)


#print("Cowrie Columns:", df_formatter.cowrie_df.info())
#print("Dionea Columns:", df_formatter.dionea_df.info())
print("Suricata Columns:", df_formatter.suricata_df.info())
#print("Normal Traffic Columns:", df_formatter.normal_traffic_df.info())

#df_formatter.dionea_df

#df_formatter.cowrie_df['application_protocol'].value_counts()
#df_formatter.dionea_df['application_protocol'].value_counts()
#df_formatter.suricata_df['application_protocol'].value_counts()
#df_formatter.normal_traffic_df['application_protocol'].value_counts()

# df_formatter.unite_honeypot_and_normal_traffic_dfs()
# df_formatter.unite_all_honeypot_dfs()

#df_dionea["connection"]

df_formatter.suricata_df.head()
df_formatter.normal_traffic_df.head()

df_formatter.normal_traffic_df["direction"].value_counts()

c:\Users\franc\OneDrive\Desktop\Magistrale\Data_Driven_System_Engineering\real-time-cyber-anomaly-detection\feature_engineering\df_formatting\format_suricata_df.py:45: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.0' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  suricata_df_renamed.loc[suricata_df_renamed[self.list_of_features_to_rename[2]].isna(), self.list_of_features_to_rename[2]] = "0.0"
c:\Users\franc\OneDrive\Desktop\Magistrale\Data_Driven_System_Engineering\real-time-cyber-anomaly-detection\feature_engineering\df_formatting\format_suricata_df.py:46: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.0' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  suricata_df_renamed.loc[suricata_df_renamed[self.list_of_features_to_rename[3]].isna(), self.list_of_features_to_rename[3]] = "0.0"

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71679 entries, 0 to 71678
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   source_ip             71679 non-null  object
 1   destination_ip        71679 non-null  object
 2   source_port           71679 non-null  Int64
 3   destination_port      71679 non-null  Int64
 4   timestamp_start       71679 non-null  datetime64[ns]
 5   transport_protocol    71679 non-null  object
 6   application_protocol  71679 non-null  object
 7   duration              71679 non-null  float64
 8   bytes_sent            71679 non-null  int64
 9   bytes_received        71679 non-null  int64
 10  pkts_sent             71679 non-null  int64
 11  pkts_received         71679 non-null  int64
 12  direction             24384 non-null  object
 13  label                 71679 non-null  object
dtypes: Int64(2), datetime64[ns](1), float64(1), int64(4), object(6)
memory usage: 7.8+ MB
Suricata Columns: None

direction
L2L    513
L2R    481
R2L      4
R2R      2
Name: count, dtype: int64

In [ ]:

df_formatter.normal_traffic_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71679 entries, 0 to 71678
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   source_ip             71679 non-null  object
 1   destination_ip        71679 non-null  object
 2   source_port           71679 non-null  Int64
 3   destination_port      71679 non-null  Int64
 4   timestamp_start       71679 non-null  datetime64[ns]
 5   transport_protocol    71679 non-null  object
 6   application_protocol  71679 non-null  object
 7   duration              71679 non-null  float64
 8   bytes_sent            71679 non-null  int64
 9   bytes_received        71679 non-null  int64
 10  pkts_sent             71679 non-null  int64
 11  pkts_received         71679 non-null  int64
 12  direction             24384 non-null  object
 13  label                 71679 non-null  object
dtypes: Int64(2), datetime64[ns](1), float64(1), int64(4), object(6)
memory usage: 7.8+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   source_ip             1000 non-null   object
 1   destination_ip        1000 non-null   object
 2   source_port           1000 non-null   int64
 3   destination_port      1000 non-null   int64
 4   timestamp_start       1000 non-null   datetime64[ns]
 5   transport_protocol    1000 non-null   object
 6   application_protocol  1000 non-null   object
 7   duration              1000 non-null   float64
 8   bytes_sent            1000 non-null   int64
 9   bytes_received        1000 non-null   int64
 10  pkts_sent             1000 non-null   int64
 11  pkts_received         1000 non-null   int64
 12  direction             1000 non-null   object
 13  label                 1000 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(6), object(6)
memory usage: 109.5+ KB
None

,source_ip,destination_ip,source_port,destination_port,timestamp_start,transport_protocol,application_protocol,duration,bytes_sent,bytes_received,pkts_sent,pkts_received,direction,label
0,192.168.5.122,224.0.0.251,5353,5353,2010-06-13 23:57:00,udp,unknown_udp,840.0,16076,0,178,0,L2R,benign
1,192.168.2.111,206.217.198.186,4435,80,2010-06-13 23:58:00,tcp,httpimagetransfer,180.0,384,0,6,0,L2R,benign
2,192.168.4.119,192.168.5.122,4428,53,2010-06-13 23:58:00,udp,dns,60.0,171,642,2,4,L2L,benign
3,192.168.4.119,219.94.203.105,3639,80,2010-06-13 23:58:00,tcp,httpimagetransfer,120.0,384,0,6,0,L2R,benign
4,192.168.4.119,98.137.80.50,3641,80,2010-06-13 23:58:00,tcp,httpimagetransfer,60.0,186,128,2,2,L2R,benign

In [5]:

df_formatter.suricata_df.head()

,source_ip,destination_ip,source_port,destination_port,timestamp_start,transport_protocol,application_protocol,duration,bytes_sent,bytes_received,pkts_sent,pkts_received,direction,label
0,16.62.107.190,10.128.0.2,0,0,2025-10-24 02:44:06.405778,icmp,unknown,0.000000,82,0,1,0,to_server,malicious
1,169.254.169.254,10.128.0.2,53,36113,2025-10-24 02:44:07.619878,udp,failed,0.000592,164,172,2,1,to_client,malicious
2,10.128.0.2,216.239.34.174,59728,443,2025-10-24 02:44:07.623239,tcp,unknown,0.000000,0,0,0,0,NaN,malicious
3,10.128.0.2,216.239.34.174,53790,443,2025-10-24 02:44:08.117768,tcp,unknown,0.000123,156,0,2,0,to_server,malicious
4,216.239.34.174,10.128.0.2,443,53790,2025-10-24 02:44:08.118390,tcp,unknown,0.000745,156,66,2,1,to_client,malicious

In [4]:
import requests

def get_location(ip_address="161.185.160.93"):
    response = requests.get(f'https://ipapi.co/{ip_address}/json/').json()
    location_data = {
        "ip": ip_address,
        "city": response.get("city"),
        "region": response.get("region"),
        "country": response.get("country_name")
    }
    return location_data

location_info = get_location("161.185.160.93")
print(location_info)

{'ip': '161.185.160.93', 'city': None, 'region': None, 'country': None}