In [2]:
from df_initializer import DataFrameInitializer

df_initializer = DataFrameInitializer(
    cowrie_json='data/cowrie/log/cowrie.json',
    dionea_json='data/dionaea/log/dionaea.json',
    suricata_json='data/suricata/log/suricata.json',
    tanner_json='data/tanner/log/tanner.json'
)
cowrie_df, dionea_df, suricata_df, tanner_df = df_initializer.initialize_dfs()

# Cowrie dataframe

In [3]:
cowrie_df.head()

,eventid,src_ip,src_port,dst_ip,dst_port,session,protocol,message,sensor,timestamp,...,username,password,arch,input,ttylog,size,shasum,duplicate,data,id
0,cowrie.session.connect,39.55.145.232,40332.0,172.29.0.2,23.0,fc324807ccdb,telnet,New connection: 39.55.145.232:40332 (172.29.0....,37e2115ebaeb,2025-10-24T02:51:30.093164Z,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,cowrie.session.closed,39.55.145.232,NaN,NaN,NaN,fc324807ccdb,NaN,Connection lost after 120 seconds,37e2115ebaeb,2025-10-24T02:53:30.193620Z,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,cowrie.session.connect,186.137.131.237,2899.0,172.29.0.2,23.0,f63710ee4170,telnet,New connection: 186.137.131.237:2899 (172.29.0...,37e2115ebaeb,2025-10-24T03:01:30.276055Z,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,cowrie.session.closed,186.137.131.237,NaN,NaN,NaN,f63710ee4170,NaN,Connection lost after 14 seconds,37e2115ebaeb,2025-10-24T03:01:44.470786Z,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,cowrie.session.connect,103.177.227.135,40520.0,172.29.0.2,22.0,bdc1ef22d413,ssh,New connection: 103.177.227.135:40520 (172.29....,37e2115ebaeb,2025-10-24T03:07:36.862724Z,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Dionea Dataframe

In [4]:
dionea_df.head()

,connection,dst_ip,dst_port,src_hostname,src_ip,src_port,timestamp,ftp,credentials
0,"{'protocol': 'smbd', 'transport': 'tcp', 'type...",192.168.112.2,445,,89.248.167.131,51706,2025-10-24T02:47:57.041581,NaN,NaN
1,"{'protocol': 'smbd', 'transport': 'tcp', 'type...",192.168.112.2,445,,89.248.167.131,51710,2025-10-24T02:47:58.976812,NaN,NaN
2,"{'protocol': 'smbd', 'transport': 'tcp', 'type...",192.168.112.2,445,,89.248.167.131,51724,2025-10-24T02:47:59.401482,NaN,NaN
3,"{'protocol': 'ftpd', 'transport': 'tcp', 'type...",192.168.112.2,21,,185.247.137.203,44019,2025-10-24T03:00:05.026478,"{'commands': {'arguments': ['', '', '', ''], '...",NaN
4,"{'protocol': 'ftpd', 'transport': 'tcp', 'type...",192.168.112.2,21,,80.82.77.202,60000,2025-10-24T03:20:54.523213,"{'commands': {'arguments': ['TLS'], 'command':...",NaN

# Suricata Dataframe

In [5]:
suricata_df.head()

,timestamp,flow_id,in_iface,event_type,src_ip,dest_ip,proto,icmp_type,icmp_code,pkt_src,...,anomaly,ssh,tftp,tx_guessed,app_proto_orig,snmp,rfb,app_proto_ts,pgsql,smtp
0,2025-10-24T02:44:06.405778+0000,1.742804e+15,ens4,alert,16.62.107.190,10.128.0.2,ICMP,8.0,0.0,wire/pcap,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2025-10-24T02:44:07.619878+0000,2.096864e+15,ens4,alert,169.254.169.254,10.128.0.2,UDP,NaN,NaN,wire/pcap,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2025-10-24T02:44:07.623239+0000,2.101217e+15,ens4,tls,10.128.0.2,216.239.34.174,TCP,NaN,NaN,wire/pcap,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2025-10-24T02:44:08.117768+0000,2.238090e+14,ens4,alert,10.128.0.2,216.239.34.174,TCP,NaN,NaN,wire/pcap,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2025-10-24T02:44:08.118390+0000,2.238090e+14,ens4,alert,216.239.34.174,10.128.0.2,TCP,NaN,NaN,wire/pcap,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Tanner Dataframe

In [6]:
tanner_df.head()

,method,path,headers,uuid,peer,status,cookies,response_msg,timestamp,post_data
0,GET,/cgi-bin/luci/;stok=/locale,"{'host': '35.225.86.61:80', 'connection': 'clo...",7e5880f3-f4fc-4ac6-b8f2-99cfa79a28b4,"{'ip': '193.142.147.209', 'port': 1358}",200,{'sess_uuid': None},"{'version': '0.6.0', 'response': {'message': {...",2025-10-24T02:57:02.021400,NaN
1,GET,/,"{'host': '35.225.86.61', 'user-agent': 'Mozill...",7e5880f3-f4fc-4ac6-b8f2-99cfa79a28b4,"{'ip': '149.100.11.243', 'port': 42870}",200,{'sess_uuid': None},"{'version': '0.6.0', 'response': {'message': {...",2025-10-24T02:58:36.860069,NaN
2,GET,/,"{'user-agent': 'Hello from Palo Alto Networks,...",7e5880f3-f4fc-4ac6-b8f2-99cfa79a28b4,"{'ip': '205.210.31.183', 'port': 53880}",200,{'sess_uuid': None},"{'version': '0.6.0', 'response': {'message': {...",2025-10-24T03:00:26.628714,NaN
3,GET,/,{'user-agent': 'Mozilla/5.0 (Windows NT 10.0; ...,7e5880f3-f4fc-4ac6-b8f2-99cfa79a28b4,"{'ip': '204.76.203.212', 'port': 55968}",200,{'sess_uuid': None},"{'version': '0.6.0', 'response': {'message': {...",2025-10-24T03:21:31.705012,NaN
4,POST,/cgi-bin/.%2e/.%2e/.%2e/.%2e/.%2e/.%2e/.%2e/.%...,"{'host': '35.225.86.61:80', 'accept': '*/*', '...",7e5880f3-f4fc-4ac6-b8f2-99cfa79a28b4,"{'ip': '142.93.132.14', 'port': 53978}",200,{'sess_uuid': None},"{'version': '0.6.0', 'response': {'message': {...",2025-10-24T03:28:41.977489,{}

# Collective analisys

### Exploration

In [7]:
print("Cowrie Columns:", cowrie_df.columns)
print("Dionea Columns:", dionea_df.columns)
print("Suricata Columns:", suricata_df.columns)
print("Tanner Columns:", tanner_df.columns)

Cowrie Columns: Index(['eventid', 'src_ip', 'src_port', 'dst_ip', 'dst_port', 'session',
       'protocol', 'message', 'sensor', 'timestamp', 'duration', 'version',
       'hassh', 'hasshAlgorithms', 'kexAlgs', 'keyAlgs', 'encCS', 'macCS',
       'compCS', 'langCS', 'username', 'password', 'arch', 'input', 'ttylog',
       'size', 'shasum', 'duplicate', 'data', 'id'],
      dtype='object')
Dionea Columns: Index(['connection', 'dst_ip', 'dst_port', 'src_hostname', 'src_ip',
       'src_port', 'timestamp', 'ftp', 'credentials'],
      dtype='object')
Suricata Columns: Index(['timestamp', 'flow_id', 'in_iface', 'event_type', 'src_ip', 'dest_ip',
       'proto', 'icmp_type', 'icmp_code', 'pkt_src', 'alert', 'direction',
       'flow', 'payload', 'payload_printable', 'stream', 'src_port',
       'dest_port', 'app_proto', 'metadata', 'tls', 'tx_id', 'http',
       'fileinfo', 'tcp', 'smb', 'response_icmp_type', 'response_icmp_code',
       'sip', 'files', 'app_proto_tc', 'anomaly', 'ssh', 'tftp', 'tx_guessed',
       'app_proto_orig', 'snmp', 'rfb', 'app_proto_ts', 'pgsql', 'smtp'],
      dtype='object')
Tanner Columns: Index(['method', 'path', 'headers', 'uuid', 'peer', 'status', 'cookies',
       'response_msg', 'timestamp', 'post_data'],
      dtype='object')

In [8]:
df_filtered = suricata_df[(suricata_df["tcp"].notnull())]
print(df_filtered[["timestamp", "src_ip", "dest_ip", "tcp"]])

print(suricata_df["tcp"].notnull().sum())
print(suricata_df["http"].notnull().sum())
print(suricata_df["tls"].notnull().sum())
print(suricata_df["smb"].notnull().sum())
print(suricata_df["sip"].notnull().sum())

                             timestamp      src_ip          dest_ip  \
1705   2025-10-24T02:45:12.986416+0000  10.128.0.2   216.239.34.174
1708   2025-10-24T02:45:20.948560+0000  10.128.0.2   216.239.34.174
1709   2025-10-24T02:45:20.948660+0000  10.128.0.2   216.239.34.174
1712   2025-10-24T02:45:24.932398+0000  10.128.0.2   216.239.34.174
1716   2025-10-24T02:45:26.993191+0000  10.128.0.2  192.178.129.207
...                                ...         ...              ...
71555  2025-10-24T13:13:20.114401+0000  10.128.0.2    74.125.132.95
71560  2025-10-24T13:13:21.038314+0000  10.128.0.2     91.189.91.82
71562  2025-10-24T13:13:21.059437+0000  10.128.0.2  173.194.206.100
71574  2025-10-24T13:13:23.064853+0000  10.128.0.2   216.239.38.174
71597  2025-10-24T13:13:27.042830+0000  10.128.0.2   216.239.38.174

                                                     tcp
1705   {'tcp_flags': '00', 'tcp_flags_ts': '00', 'tcp...
1708   {'tcp_flags': '00', 'tcp_flags_ts': '00', 'tcp...
1709   {'tcp_flags': '00', 'tcp_flags_ts': '00', 'tcp...
1712   {'tcp_flags': '00', 'tcp_flags_ts': '00', 'tcp...
1716   {'tcp_flags': '1b', 'tcp_flags_ts': '1b', 'tcp...
...                                                  ...
71555  {'tcp_flags': '1f', 'tcp_flags_ts': '1f', 'tcp...
71560  {'tcp_flags': '1b', 'tcp_flags_ts': '1b', 'tcp...
71562  {'tcp_flags': '1b', 'tcp_flags_ts': '1b', 'tcp...
71574  {'tcp_flags': '1b', 'tcp_flags_ts': '1b', 'tcp...
71597  {'tcp_flags': '1b', 'tcp_flags_ts': '1b', 'tcp...

[13834 rows x 4 columns]
13834
2179
5754
12334
134

In [9]:
suricata_df.count()

timestamp             71679
flow_id               69082
in_iface              71679
event_type            71679
src_ip                69083
dest_ip               69083
proto                 69083
icmp_type             14857
icmp_code             14857
pkt_src               47171
alert                 26981
direction             24384
flow                  48892
payload               20430
payload_printable     24385
stream                24385
src_port              54226
dest_port             54226
app_proto             33185
metadata              19980
tls                    5754
tx_id                  6874
http                   2179
fileinfo                539
tcp                   13834
smb                   12334
response_icmp_type     2798
response_icmp_code     2798
sip                     134
files                   240
app_proto_tc            107
anomaly                 126
ssh                     373
tftp                      5
tx_guessed             4783
app_proto_orig            8
snmp                     72
rfb                       4
app_proto_ts             29
pgsql                     5
smtp                      4
dtype: int64

### Timestamp

In [10]:
import pandas as pd
pd.set_option('display.max_columns', None)       # show all columns

cowrie_df[['eventid', 'src_ip', 'src_port', 'dst_ip', 'dst_port', 'session', 'protocol', 'message', 'sensor', 'timestamp', 'duration', 'version', 'hassh', 'hasshAlgorithms', 'kexAlgs', 'keyAlgs', 'encCS', 'macCS', 'compCS', 'langCS', 'username', 'password', 'arch', 'input', 'ttylog', 'size', 'shasum', 'duplicate', 'data', 'id']].head()

,eventid,src_ip,src_port,dst_ip,dst_port,session,protocol,message,sensor,timestamp,duration,version,hassh,hasshAlgorithms,kexAlgs,keyAlgs,encCS,macCS,compCS,langCS,username,password,arch,input,ttylog,size,shasum,duplicate,data,id
0,cowrie.session.connect,39.55.145.232,40332.0,172.29.0.2,23.0,fc324807ccdb,telnet,New connection: 39.55.145.232:40332 (172.29.0....,37e2115ebaeb,2025-10-24T02:51:30.093164Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,cowrie.session.closed,39.55.145.232,NaN,NaN,NaN,fc324807ccdb,NaN,Connection lost after 120 seconds,37e2115ebaeb,2025-10-24T02:53:30.193620Z,120.100592,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,cowrie.session.connect,186.137.131.237,2899.0,172.29.0.2,23.0,f63710ee4170,telnet,New connection: 186.137.131.237:2899 (172.29.0...,37e2115ebaeb,2025-10-24T03:01:30.276055Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,cowrie.session.closed,186.137.131.237,NaN,NaN,NaN,f63710ee4170,NaN,Connection lost after 14 seconds,37e2115ebaeb,2025-10-24T03:01:44.470786Z,14.194879,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,cowrie.session.connect,103.177.227.135,40520.0,172.29.0.2,22.0,bdc1ef22d413,ssh,New connection: 103.177.227.135:40520 (172.29....,37e2115ebaeb,2025-10-24T03:07:36.862724Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
dionea_df[["timestamp", "src_ip", "dst_ip"]]

                                             connection         dst_ip  \
0     {'protocol': 'smbd', 'transport': 'tcp', 'type...  192.168.112.2
1     {'protocol': 'smbd', 'transport': 'tcp', 'type...  192.168.112.2
2     {'protocol': 'smbd', 'transport': 'tcp', 'type...  192.168.112.2
3     {'protocol': 'ftpd', 'transport': 'tcp', 'type...  192.168.112.2
4     {'protocol': 'ftpd', 'transport': 'tcp', 'type...  192.168.112.2
...                                                 ...            ...
6282  {'protocol': 'smbd', 'transport': 'tcp', 'type...  192.168.112.2
6283  {'protocol': 'smbd', 'transport': 'tcp', 'type...  192.168.112.2
6284  {'protocol': 'smbd', 'transport': 'tcp', 'type...  192.168.112.2
6285  {'protocol': 'smbd', 'transport': 'tcp', 'type...  192.168.112.2
6286  {'protocol': 'smbd', 'transport': 'tcp', 'type...  192.168.112.2

      dst_port src_hostname           src_ip  src_port  \
0          445                89.248.167.131     51706
1          445                89.248.167.131     51710
2          445                89.248.167.131     51724
3           21               185.247.137.203     44019
4           21                  80.82.77.202     60000
...        ...          ...              ...       ...
6282       445                181.115.193.18     56476
6283       445                181.115.193.18     56485
6284       445                  223.4.205.37      2722
6285       445                  223.4.205.37      2783
6286       445                181.115.193.18     56962

                       timestamp
0     2025-10-24T02:47:57.041581
1     2025-10-24T02:47:58.976812
2     2025-10-24T02:47:59.401482
3     2025-10-24T03:00:05.026478
4     2025-10-24T03:20:54.523213
...                          ...
6282  2025-10-24T13:11:08.269532
6283  2025-10-24T13:11:08.444294
6284  2025-10-24T13:10:02.613979
6285  2025-10-24T13:10:02.725227
6286  2025-10-24T13:11:12.362302

[6287 rows x 7 columns]

In [12]:
suricata_df[['timestamp', 'flow_id', 'in_iface', 'event_type', 'src_ip', 'dest_ip', 'proto', 'icmp_type', 'icmp_code', 'pkt_src', 'alert', 'direction', 'flow', 'payload', 'payload_printable', 'stream', 'src_port', 'dest_port', 'app_proto', 'metadata', 'tls', 'tx_id', 'http', 'fileinfo', 'tcp', 'smb', 'response_icmp_type', 'response_icmp_code', 'sip', 'files', 'app_proto_tc', 'anomaly', 'ssh', 'tftp', 'tx_guessed', 'app_proto_orig', 'snmp', 'rfb', 'app_proto_ts', 'pgsql', 'smtp']].head()

,timestamp,flow_id,in_iface,event_type,src_ip,dest_ip,proto,icmp_type,icmp_code,pkt_src,alert,direction,flow,payload,payload_printable,stream,src_port,dest_port,app_proto,metadata,tls,tx_id,http,fileinfo,tcp,smb,response_icmp_type,response_icmp_code,sip,files,app_proto_tc,anomaly,ssh,tftp,tx_guessed,app_proto_orig,snmp,rfb,app_proto_ts,pgsql,smtp
0,2025-10-24T02:44:06.405778+0000,1.742804e+15,ens4,alert,16.62.107.190,10.128.0.2,ICMP,8.0,0.0,wire/pcap,"{'action': 'allowed', 'gid': 1, 'signature_id'...",to_server,"{'pkts_toserver': 1, 'pkts_toclient': 0, 'byte...",GHFNO0u3l6JdADiOxuVmH48Zx6noyuYsen52WfzUL7dZBu...,".qM;K...].8...f........,z~vY../.Y..>..IN",0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2025-10-24T02:44:07.619878+0000,2.096864e+15,ens4,alert,169.254.169.254,10.128.0.2,UDP,NaN,NaN,wire/pcap,"{'action': 'allowed', 'gid': 1, 'signature_id'...",to_client,"{'pkts_toserver': 2, 'pkts_toclient': 1, 'byte...",a1yBgAABAAUAAAAAB2xvZ2dpbmcKZ29vZ2xlYXBpcwNjb2...,k\...........logging\ngoogleapis.com.............,0.0,53.0,36113.0,failed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2025-10-24T02:44:07.623239+0000,2.101217e+15,ens4,tls,10.128.0.2,216.239.34.174,TCP,NaN,NaN,wire/pcap,NaN,NaN,NaN,NaN,NaN,NaN,59728.0,443.0,NaN,"{'flowbits': ['FB180732_0', 'BS.SSL.Known.Port']}","{'sni': 'logging.googleapis.com', 'version': '...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2025-10-24T02:44:08.117768+0000,2.238090e+14,ens4,alert,10.128.0.2,216.239.34.174,TCP,NaN,NaN,wire/pcap,"{'action': 'allowed', 'gid': 1, 'signature_id'...",to_server,"{'pkts_toserver': 2, 'pkts_toclient': 0, 'byte...",NaN,,0.0,53790.0,443.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2025-10-24T02:44:08.118390+0000,2.238090e+14,ens4,alert,216.239.34.174,10.128.0.2,TCP,NaN,NaN,wire/pcap,"{'action': 'allowed', 'gid': 1, 'signature_id'...",to_client,"{'pkts_toserver': 2, 'pkts_toclient': 1, 'byte...",NaN,,0.0,443.0,53790.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
tanner_df[["timestamp", "peer", "method"]]

,timestamp,peer,method
0,2025-10-24T02:57:02.021400,"{'ip': '193.142.147.209', 'port': 1358}",GET
1,2025-10-24T02:58:36.860069,"{'ip': '149.100.11.243', 'port': 42870}",GET
2,2025-10-24T03:00:26.628714,"{'ip': '205.210.31.183', 'port': 53880}",GET
3,2025-10-24T03:21:31.705012,"{'ip': '204.76.203.212', 'port': 55968}",GET
4,2025-10-24T03:28:41.977489,"{'ip': '142.93.132.14', 'port': 53978}",POST
...,...,...,...
189,2025-10-24T12:42:21.086106,"{'ip': '204.76.203.212', 'port': 42854}",GET
190,2025-10-24T12:48:37.508286,"{'ip': '79.124.40.174', 'port': 42824}",GET
191,2025-10-24T13:01:48.089930,"{'ip': '79.124.40.174', 'port': 44128}",GET
192,2025-10-24T13:05:29.034801,"{'ip': '204.76.203.219', 'port': 53530}",GET
193,2025-10-24T13:10:42.151909,"{'ip': '79.124.40.174', 'port': 57232}",POST