In [2]:
from log_to_df import DfInitializer
df_initializer = DfInitializer(
    cowrie_json='data/cowrie/log/cowrie.json',
    dionea_json='data/dionaea/log/dionaea.json',
    suricata_json='data/suricata/log/suricata.json',
    tanner_json='data/tanner/log/tanner.json'
)
cowrie_df, dionea_df, suricata_df, tanner_df = df_initializer.initialize_dfs()

# Cowrie dataframe

In [3]:
cowrie_df.head()

,eventid,src_ip,src_port,dst_ip,dst_port,session,protocol,message,sensor,timestamp,...,username,password,arch,input,ttylog,size,shasum,duplicate,data,id
0,cowrie.session.connect,39.55.145.232,40332.0,172.29.0.2,23.0,fc324807ccdb,telnet,New connection: 39.55.145.232:40332 (172.29.0....,37e2115ebaeb,2025-10-24T02:51:30.093164Z,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,cowrie.session.closed,39.55.145.232,NaN,NaN,NaN,fc324807ccdb,NaN,Connection lost after 120 seconds,37e2115ebaeb,2025-10-24T02:53:30.193620Z,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,cowrie.session.connect,186.137.131.237,2899.0,172.29.0.2,23.0,f63710ee4170,telnet,New connection: 186.137.131.237:2899 (172.29.0...,37e2115ebaeb,2025-10-24T03:01:30.276055Z,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,cowrie.session.closed,186.137.131.237,NaN,NaN,NaN,f63710ee4170,NaN,Connection lost after 14 seconds,37e2115ebaeb,2025-10-24T03:01:44.470786Z,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,cowrie.session.connect,103.177.227.135,40520.0,172.29.0.2,22.0,bdc1ef22d413,ssh,New connection: 103.177.227.135:40520 (172.29....,37e2115ebaeb,2025-10-24T03:07:36.862724Z,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Dionea Dataframe

In [4]:
dionea_df.head()

,connection,dst_ip,dst_port,src_hostname,src_ip,src_port,timestamp,ftp,credentials
0,"{'protocol': 'smbd', 'transport': 'tcp', 'type...",192.168.112.2,445,,89.248.167.131,51706,2025-10-24T02:47:57.041581,NaN,NaN
1,"{'protocol': 'smbd', 'transport': 'tcp', 'type...",192.168.112.2,445,,89.248.167.131,51710,2025-10-24T02:47:58.976812,NaN,NaN
2,"{'protocol': 'smbd', 'transport': 'tcp', 'type...",192.168.112.2,445,,89.248.167.131,51724,2025-10-24T02:47:59.401482,NaN,NaN
3,"{'protocol': 'ftpd', 'transport': 'tcp', 'type...",192.168.112.2,21,,185.247.137.203,44019,2025-10-24T03:00:05.026478,"{'commands': {'arguments': ['', '', '', ''], '...",NaN
4,"{'protocol': 'ftpd', 'transport': 'tcp', 'type...",192.168.112.2,21,,80.82.77.202,60000,2025-10-24T03:20:54.523213,"{'commands': {'arguments': ['TLS'], 'command':...",NaN

# Suricata Dataframe

In [5]:
suricata_df.head()

,timestamp,flow_id,in_iface,event_type,src_ip,dest_ip,proto,icmp_type,icmp_code,pkt_src,...,anomaly,ssh,tftp,tx_guessed,app_proto_orig,snmp,rfb,app_proto_ts,pgsql,smtp
0,2025-10-24T02:44:06.405778+0000,1.742804e+15,ens4,alert,16.62.107.190,10.128.0.2,ICMP,8.0,0.0,wire/pcap,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2025-10-24T02:44:07.619878+0000,2.096864e+15,ens4,alert,169.254.169.254,10.128.0.2,UDP,NaN,NaN,wire/pcap,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2025-10-24T02:44:07.623239+0000,2.101217e+15,ens4,tls,10.128.0.2,216.239.34.174,TCP,NaN,NaN,wire/pcap,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2025-10-24T02:44:08.117768+0000,2.238090e+14,ens4,alert,10.128.0.2,216.239.34.174,TCP,NaN,NaN,wire/pcap,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2025-10-24T02:44:08.118390+0000,2.238090e+14,ens4,alert,216.239.34.174,10.128.0.2,TCP,NaN,NaN,wire/pcap,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Tanner Dataframe

In [6]:
tanner_df.head()

,method,path,headers,uuid,peer,status,cookies,response_msg,timestamp,post_data
0,GET,/cgi-bin/luci/;stok=/locale,"{'host': '35.225.86.61:80', 'connection': 'clo...",7e5880f3-f4fc-4ac6-b8f2-99cfa79a28b4,"{'ip': '193.142.147.209', 'port': 1358}",200,{'sess_uuid': None},"{'version': '0.6.0', 'response': {'message': {...",2025-10-24T02:57:02.021400,NaN
1,GET,/,"{'host': '35.225.86.61', 'user-agent': 'Mozill...",7e5880f3-f4fc-4ac6-b8f2-99cfa79a28b4,"{'ip': '149.100.11.243', 'port': 42870}",200,{'sess_uuid': None},"{'version': '0.6.0', 'response': {'message': {...",2025-10-24T02:58:36.860069,NaN
2,GET,/,"{'user-agent': 'Hello from Palo Alto Networks,...",7e5880f3-f4fc-4ac6-b8f2-99cfa79a28b4,"{'ip': '205.210.31.183', 'port': 53880}",200,{'sess_uuid': None},"{'version': '0.6.0', 'response': {'message': {...",2025-10-24T03:00:26.628714,NaN
3,GET,/,{'user-agent': 'Mozilla/5.0 (Windows NT 10.0; ...,7e5880f3-f4fc-4ac6-b8f2-99cfa79a28b4,"{'ip': '204.76.203.212', 'port': 55968}",200,{'sess_uuid': None},"{'version': '0.6.0', 'response': {'message': {...",2025-10-24T03:21:31.705012,NaN
4,POST,/cgi-bin/.%2e/.%2e/.%2e/.%2e/.%2e/.%2e/.%2e/.%...,"{'host': '35.225.86.61:80', 'accept': '*/*', '...",7e5880f3-f4fc-4ac6-b8f2-99cfa79a28b4,"{'ip': '142.93.132.14', 'port': 53978}",200,{'sess_uuid': None},"{'version': '0.6.0', 'response': {'message': {...",2025-10-24T03:28:41.977489,{}

# Collective analisys

In [9]:
print("Cowrie Columns:", cowrie_df.columns)
print("Dionea Columns:", dionea_df.columns)
print("Suricata Columns:", suricata_df.columns)
print("Tanner Columns:", tanner_df.columns)

Cowrie Columns: Index(['eventid', 'src_ip', 'src_port', 'dst_ip', 'dst_port', 'session',
       'protocol', 'message', 'sensor', 'timestamp', 'duration', 'version',
       'hassh', 'hasshAlgorithms', 'kexAlgs', 'keyAlgs', 'encCS', 'macCS',
       'compCS', 'langCS', 'username', 'password', 'arch', 'input', 'ttylog',
       'size', 'shasum', 'duplicate', 'data', 'id'],
      dtype='object')
Dionea Columns: Index(['connection', 'dst_ip', 'dst_port', 'src_hostname', 'src_ip',
       'src_port', 'timestamp', 'ftp', 'credentials'],
      dtype='object')
Suricata Columns: Index(['timestamp', 'flow_id', 'in_iface', 'event_type', 'src_ip', 'dest_ip',
       'proto', 'icmp_type', 'icmp_code', 'pkt_src', 'alert', 'direction',
       'flow', 'payload', 'payload_printable', 'stream', 'src_port',
       'dest_port', 'app_proto', 'metadata', 'tls', 'tx_id', 'http',
       'fileinfo', 'tcp', 'smb', 'response_icmp_type', 'response_icmp_code',
       'sip', 'files', 'app_proto_tc', 'anomaly', 'ssh', 'tftp', 'tx_guessed',
       'app_proto_orig', 'snmp', 'rfb', 'app_proto_ts', 'pgsql', 'smtp'],
      dtype='object')
Tanner Columns: Index(['method', 'path', 'headers', 'uuid', 'peer', 'status', 'cookies',
       'response_msg', 'timestamp', 'post_data'],
      dtype='object')

## Columns that are in common

-   timestamp - Present in all 4 dataframes, essential for temporal correlation
-   src_ip / src_hostname - Source IP addresses (DF1, DF2, DF3 have src_ip; DF2 also has -  src_hostname)
-   dst_ip / dest_ip - Destination IP (DF1, DF2, DF3 use different naming)
-   src_port - Source port (DF1, DF2, DF3)
-   dst_port / dest_port - Destination port (DF1, DF2, DF3)